*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#grid {
    display: flex;
}

.card {
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 3px;
    padding: 10px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}