* {
    box-sizing: border-box;
}

div {
    margin: 20px 0px;
}

#tablas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.tabla {
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}