*{
    box-sizing: border-box;
}

#resultado{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

#multiplo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

.verde{
    background-color: lightgreen;
}

.azul{
    background-color: lightblue;
}

.amarillo{
    background-color: yellow;
}

.rojo{
    background-color: lightcoral;
}