


#principal {
    display: flex;
    justify-content: space-around;
}

.btnDefault {
    background-color: #b18c8c;
    border: 0;
    outline: 0;
    color: #ffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btnDefault:hover {
    background-color: #c7c7c7;
}

.contenedor {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.cuadrado {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    /*transform: rotate(20deg);*/

}

.rotando{
    animation-name: rotacion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotacion {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}