*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#popup{
    position: fixed; /*para que este superpuesto*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(192, 192, 192, 0.5);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: none;
}

#popup.activo{
    display: flex;
}

.card{
    max-width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}